 <!-- Modal -->
  <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><h2><%= @recipe.name.capitalize %> <% unless @recipe.name.downcase.include? "cupcake" %> Cupcake <% end %></h2>
        </div>
        <div class="modal-body">
          <%= render '/ratings/form' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->