
	<section class="welcome">
		<div class="row">
						<h1>Global Cupcake Experiment</h1>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-xs-4 col-sm-12">
						<div class="col-xs-4"><%= image_tag "bakeicon.png"%></div><div class="col-xs-8"><h2 >BAKE</h2></div>
					</div>
					<div class="col-xs-4 col-sm-12">
					<div class="col-xs-4"><%= image_tag "cupcake.png"%></div><div class="col-xs-8"><h2 >TASTE</h2></div>
					</div>
					<div class="col-xs-4 col-sm-12">
					<div class="col-xs-4"><%= image_tag "awardsm.png"%></div><div class="col-xs-8"><h2 >RATE</h2></div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">

				<p>Calling all Cupcake Lovers.</p>  
				<p>Together we can discover what makes an incredible cupcake recipe.</p>
				<h3>Here's how it works:</h3>
				<p> Every month EveryCupcake will add a cupcake flavor to the site.  This month we are focusing on <a href="#vanilla">Vanilla</a>. We will search the web looking for cupcake recipes and add them to our recipe page. Feel free to add your favorite recipe.</p>
				<p>Contribute to the experiment by choosing one or more cupcake recipe.  Bake a batch and share them with 11 other cupcake lovers.  Have everyone who tastes a cupcake fill out a survey capturing the good and the bad aspects of each recipe.</p>
				<p>Check out the cupcake flavor page to see which recipes are the best.</p>
			</div>
		</div>
	</section>
	<div class="row">
		<section class="one">
			<h1>THE ULTIMATE CUPCAKE CHALLENGE</h1>
		</section>
	</div>
		<ul>
		<li>Where: Goal of Global Participation</li>
		<li>Who: Open to everyone.
			<ul>
				<li>Bakers: All levels and ages are welcome</li>
				<li>Cupcake Connoisser's (Tasters):  Anyone who enjoys a good cupcake </li>
			</ul>
		</li>
		</ul>
	<div class="flavor" id="vanilla">
		<h1>Flavor Focus <span>VANILLA</span></h1>
	</div>
