
	<section class="welcome">
		<div class="row">
			<div class="col-sm-12">
				<h1>Global Cupcake Experiment</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4" id="bake">
				<title>BAKE</title>
				<div class="col-xs-1 col-sm-1"></div>
				<div class="col-xs-10 col-sm-10"><%= image_tag image_url("bake.png") %></div>
			</div>
			<div class="col-xs-12 col-sm-4" id="share">
				<title>TASTE</title>
				<div class="col-xs-1 col-sm-2"></div>
				<div class="col-xs-10 col-sm-8"><%= image_tag image_url("vanillacupcake.png") %></div>
			</div>
			<div class="col-xs-12 col-sm-4" id="win">
				<title>RATE</title>
				<div class="col-xs-4 col-sm-4"></div>
				<div class="col-xs-4 col-sm-4"><%= image_tag image_url("award.png") %></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>

<section id="home" data-type="background" data-speed="10" class="pages">
	TEST
</section>
<section id="about" data-type="background" data-speed="10">
	<article>Simple Parallax Scroll</article>
</section>


	<div id="test">
		</div>
	</body>
	<section class="one">
		<h1>THE ULTIMATE CUPCAKE CHALLENGE</h1>
	</section>
		<ul>
		<li>Where: Goal of Global Participation</li>
		<li>Who: Open to everyone.
			<ul>
				<li>Bakers: All levels and ages are welcome</li>
				<li>Cupcake Connoisser's (Tasters):  Anyone who enjoys a good cupcake </li>
			</ul>
		</li>
		</ul>
