<h1><b>every cupcake</b> </h1>
<h2>Every Cupcake</h2>
<%= form_for [@photoable, @photo], 'data-no-turbolink' => true do |f| %>
	<div class="form-group">
	<%= f.label : %>
	<%= f.file_field :photo %>
	</div>
  <%= f.submit %>
<% end %>